includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
        - tests/
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
