.button {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-secondary);
    background: var(--color-primary);
    border-radius: 10rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}

.button--secondary {
    color: var(--color-primary);
    background: var(--color-secondary);
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button > i {
    margin-left: 1rem;
}
